@import "tailwindcss";

@theme {
  --color-green-300: #00B37E;
  --color-green-500: #00875F;
  --color-green-700: #015F43;
  --color-blue-500: #81D8F7;
  --color-orange-500: #FBA94C;
  --color-red-500: #F75A68;
  --color-gray-100: #E1E1E6;
  --color-gray-200: #C4C4CC;
  --color-gray-300: #8D8D99;
  --color-gray-400: #202024;
  --color-gray-500: #323238;
  --color-gray-600: #29292E;
  --color-gray-700: #121214;
  --color-gray-900: #09090A;

  --font-sans: 'Roboto, sans-serif'


}



body {
  @apply bg-gray-900 text-gray-100;


}